.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.overlayActive {
    display: flex;
}

.closeButton {
    background: url('../../images/Close-Icon.svg');
    height: 30px;
    width: 30px;
    position: absolute;
    top: 70px;
    right: 70px;
}

.closeButton:hover {
    opacity: 0.7;
}